<section class="loginSect">   
    <img class="imglogin" src="../../dist/img/fondo1.jpg" alt="">
    <div class="class1"></div>
    <div class="class2"></div>
    <div class="class3" ng-controller="loginController">
        <hr class="hr1">
        <h1 class="login"><strong>Login</strong></h1>
        <hr class="hr2">
        <input class="user" type="text" placeholder="User name">
        <input class="password" type="password" placeholder="Password"> 
        <button type="submit" class="signin" ng-click="conectionHome('/home')">Sign In</button>   
        <button type="submit" class="signup" ng-click="conectionRegisterUs('/registerUser')">Sign Up</button>
    </div>
</section>
